.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    opacity: 1;
    display: flex;
    transform: scale(1);
    align-items: center;
    transition: linear 300ms;

    &:nth-child(1) {
      transition-delay: 300ms;
    }

    &:nth-child(2) {
      transition-delay: 275ms;
    }

    &:nth-child(3) {
      transition-delay: 250ms;
    }

    &:nth-child(4) {
      transition-delay: 225ms;
    }

    &:nth-child(5) {
      transition-delay: 200ms;
    }

    &:nth-child(6) {
      transition-delay: 175ms;
    }

    &:nth-child(7) {
      transition-delay: 150ms;
    }

    &:nth-child(8) {
      transition-delay: 125ms;
    }

    &:nth-child(9) {
      transition-delay: 100ms;
    }

    &:nth-child(12) {
      z-index: -1;
    }

    @media (max-width: 767px) {
      display: none;

      &:nth-child(3) {
        display: block;
        justify-self: center;

        a svg {
          width: 24px;
          height: 24px;
        }
      }

      &:nth-child(12) {
        display: block;
        justify-self: flex-end;
      }
    }
  }

  &__link {
    color: #ddd;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;

    svg {
      width: 21px;
      height: 21px;
      color: #ccc;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    svg {
      width: 21px;
      height: 21px;
      color: #ccc;
      cursor: pointer;

      &:first-child {
        margin-top: 2px;
      }
    }
  }

  // Quando ativar a barra de pesquisa
  &.is-search {
    transition: linear 500ms;

    .menu__item {
      opacity: 0;
      transform: scale(0);
    }
  }
}
